/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #wrapper_main {
 	min-height: 100%;
 	background-color: white;
 	margin: 0% 13% 0% 13%;
 }

 header{
 	border-bottom: solid 2px black;
 	height: 190px;
 }

 #content_main {
 	padding: 10px 20px 10px 20px;
 	background-color: white;
 }

 #nav {
 	height: 22%;
 	margin: 3px 0px 0px 0px;
 	border-bottom: 2px solid black;
 }

 #nav, a {
 	text-decoration: none;
 }

 #nav_left {
 	float: left;
 	padding: 2px 1px 2px 1px;
 }

 #nav_left, li {
 	display: inline;
 	margin: 10px 10px;
 	padding: 2px 4px;
 }

 #nav_right {
 	float: right;
 	padding: 2px 1px 2px 1px;
 }

 #nav_right, li {
 	display: inline;
 	margin: 10px 10px;
 	padding: 2px 4px;
 }

 #title_div {
 	margin-top: 0px;
 	padding: 10px 15px 5px 15px;
 	height: 75%;
 }

 #title_div, h1 {
 	font-size: 40px;
 	font-family: 'Rosario', sans-serif;
 	font-style: normal;
 	margin: 2px 0px;
 }

 #title_div, h2 {
 	margin: 0px 0px 0px 5px;
	font-size: 20px;
 	font-family: 'Rosario', sans-serif;
 	font-style: italic;
 }

 html, body {
 	height: 100%;
 	margin-top: 0px;
 }
